{# Lernspiel Online: Lecture Game Platform - Core App                   #}
{# © 2024 Dennis Schulmeister-Zimolong <dennis@wpvs.de>                 #}
{#                                                                      #}
{# This program is free software: you can redistribute it and/or modify #}
{# it under the terms of the GNU Affero General Public License as       #}
{# published by the Free Software Foundation, either version 3 of the   #}
{# License, or (at your option) any later version.                      #}
{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'ls_ui_static_pages/admin/menu/toggle_link_fields.js' %}"></script>

<style>
    .form-row.field-link_view_par1 .flex-container {
        gap: 1em;
    }

    .form-row.field-link_view_par1 input:first-of-type {
        margin-left: -1em;
    }
</style>
{% endblock %}
