{% extends "lernspiel_server/website/base.html" %}
{% load i18n %}

{% block extra_head %}
<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        font-size: 200%;
        text-shadow: 1px 1px 2px rgb(0,0,0, 0.5);
    }
</style>
{% endblock %}

{% block main%}
    <div id="message">
        <strong>{% block error-number %}{% endblock %}:</strong> {% block error-description %}{% endblock %} <br/>
        <br/>
        <a href="/">{% trans "Back to start page" %}</a>
    </div>
{% endblock %}